@if (ViewData.ModelState.IsValid == false)
{
        <div class="alert alert-danger">
            <ul>
            @foreach (var modelStateEntry in ViewData.ModelState.Values)
            {
                foreach (var error in modelStateEntry.Errors)
                {
                                <li>@error.ErrorMessage</li>
                }
            }
            </ul>
        </div>
}
