@model MovieStoreMvc.Models.Domain.Movie
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form class="w-40" asp-action="Add" method="post" enctype="multipart/form-data">
    <h2 class="pb-10">Add Movie</h2>

    <div class="validation-summary-errors">
        <partial name="_ValidationSummary" />
    </div>

    <div class="input-container">
        <label asp-for="Title" class="w-40">Title</label>
        <input type="text" class="input" asp-for="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="input-container">
        <label asp-for="ReleaseYear" class="w-40">Release Year</label>
        <input type="text" class="input" asp-for="ReleaseYear">
        <span asp-validation-for="ReleaseYear" class="text-danger"></span>
    </div>

    <div class="input-container">
        <label asp-for="ImageFile" class="w-40">Movie Image</label>
        <input type="file" class="input" asp-for="ImageFile">
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <div class="input-container">
        <label asp-for="Cast" class="w-40">Cast</label>
        <input type="text" class="input" asp-for="Cast">
        <span asp-validation-for="Cast" class="text-danger"></span>
    </div>

    <div class="input-container">
        <label asp-for="Director" class="w-40">Director</label>
        <input type="text" class="input" asp-for="Director">
        <span asp-validation-for="Director" class="text-danger"></span>
    </div>

    <div class="input-container">
        <label asp-for="Synopsis" class="w-40">Synopsis</label>
        <input type="text" class="input" asp-for="Synopsis">
        <span asp-validation-for="Synopsis" class="text-danger"></span>
    </div>

    <div class="input-container">
        <label asp-for="PlaceToShow" class="w-40">Place To Show</label>
        <input type="text" class="input" asp-for="PlaceToShow">
        <span asp-validation-for="PlaceToShow" class="text-danger"></span>
    </div>

    <div class="input-container">
        <label asp-for="Genres" class="w-40">Genres</label>
        <select asp-for="Genres" asp-items="Model.GenreList" multiple="multiple" class="form-control"></select>
        <span asp-validation-for="Genres" class="text-danger"></span>
    </div>

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button class="btn btn-default" type="submit">Save</button>
        <a class="btn btn-sec" href="/Movie/MovieList">All records</a>
    </div>
</form>
