body {
    padding-top: 10px; /* Може да намалите стойността, ако е възможно */
    padding-bottom: 20px; /* Уверете се, че има малко пространство в долната част */
    display: flex; /* Използваме Flexbox */
    flex-direction: column; /* Разположение на елементите вертикално */
    min-height: 100vh; /* Гарантира, че body ще заема поне височината на екрана */
}

/* Съдържание */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 1; /* Това позволява на съдържанието да расте и да не се припокрива с футъра */
}

/* Настройки за формата */
input,
textarea {
    max-width: 280px;
}

/* Специално за полето за жанрове и други multi-select полета */
select.form-control {
    max-width: 100%;
    min-width: 300px;
    height: 200px;
    overflow-y: auto; /* Добавя скролбар при нужда */
}


/* Стилове за валидиране */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto; /* Поставя footer-а на дъното на страницата */
}
